<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product List</h1>
    <div>
    <table border="1" cellpadding="10">
    <thead>
            <tr>
            <th>count</th>
            </tr>
            <tbody>
            <tr th:object="${count}">
            <td th:text="${count}">Product ID</td>
            </tr>
            </tbody>
    </table>
    </div>
    <a href="searchpage">Search Product</a>
    <a href="new">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>MedicineName</th>
                <th>Distributor</th>
                <th>Made In</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Entry date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
            <tr th:each="product : ${listProducts}">
            	<td th:text="${product.id}">Product ID</td>
                <td th:text="${product.medicinename}">MedicineName</td>
                <td th:text="${product.distributor}">distributor</td>
                <td th:text="${product.madein}">Made in</td>
                <td th:text="${product.price}">Price</td>
                <td th:text="${product.discount}">Discount</td>
                <td th:text="${#dates.format(product.date,'dd-MM-yyyy')}">Entry date</td>
                <td>
                	<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>    
</body>
</html>